{% extends '../../base.html.twig' %}

{% block title %}Approvisionnement{% endblock %}

{% block body %}
    <h1>Approvisionnement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ approvisionnement.id }}</td>
            </tr>
            <tr>
                <th>Quantite_ajouter</th>
                <td>{{ approvisionnement.quantiteAjouter }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ approvisionnement.createdAt ? approvisionnement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_approvisionnement_index') }}">back to list</a>

    <a href="{{ path('app_approvisionnement_edit', {'id': approvisionnement.id}) }}">edit</a>

    {{ include('approvisionnement/_delete_form.html.twig') }}
{% endblock %}
