<aside class="aside is-placed-left is-expanded">
    <div class="">
      <a href="{{ path('admin_dasboard') }}">
        <img src="{{ asset('/img/logo.png') }}" alt="" class="aside-tools">
      </a>
    </div>

  <div class="menu is-menu-main">
{#    <p class="menu-label">General</p>#}
    <ul class="menu-list">
      <li class="active">
        <a href="{{ path('admin_dasboard') }}">
          <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
          <span class="menu-item-label">Dashboard</span>
        </a>
      </li>
    </ul>

    <ul class="menu-list">
      <li class="--set-active-tables-html">
        <a href="{{ path('app_user_index') }}">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Utilisateur</span>
        </a>
      </li>
    </ul>

     <ul class="menu-list">
      <li class="--set-active-tables-html">
        <a href="{{ path('app_categorie_index') }}">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Categorie</span>
        </a>
      </li>
    </ul>
      <ul class="menu-list">
      <li class="--set-active-tables-html">
        <a href="{{ path('app_fruits_index') }}">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Fruit</span>
        </a>
      </li>
    </ul>
      <ul class="menu-list">
      <li class="--set-active-tables-html">
        <a href="{{ path('app_panier_item_index') }}">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Panier Item</span>
        </a>
      </li>
    </ul>
        </ul>
      <ul class="menu-list">
      <li class="--set-active-tables-html">
        <a href="{{ path('app_commande_index') }}">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Commande</span>
        </a>
      </li>
    </ul>
     <ul class="menu-list">
      <li class="--set-active-tables-html">
        <a href="{{ path('app_approvisionnement_index') }}">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Approvisionement</span>
        </a>
      </li>
    </ul>

     <ul class="menu-list">
      <li class="--set-active-tables-html">
        <a href="{{ path('app_facture_index') }}">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Facture</span>
        </a>
      </li>
    </ul>

     <ul class="menu-list">
      <li class="--set-active-tables-html">
        <a href="{{ path('app_fournisseur_index') }}">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Fournisseur</span>
        </a>
      </li>
    </ul>

     <ul class="menu-list">
      <li class="--set-active-tables-html">
        <a href="{{ path('app_livraison_index') }}">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Livraison</span>
        </a>
      </li>
    </ul>

      <ul class="menu-list">
      <li class="--set-active-tables-html">
        <a href="{{ path('app_livreur_index') }}">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Livreur</span>
        </a>
      </li>
    </ul>
  </div>
</aside>