{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle Facture{% endblock %}

{% block body %}

    {% include 'admin/_menu.html.twig' %}

    <section class="is-hero-bar">
        <div class="flex flex-col items-center justify-between space-y-6 md:flex-row md:space-y-0">
            <h1 class="title">
                Créer une nouvelle facture
            </h1>
        </div>
    </section>

    <section class="section main-section">
        <div class="card">
            <div class="card-content">
                {{ form_start(form, { 'attr': {'class': 'form'} }) }}

                    <div class="field">
                        {{ form_label(form.commande, 'Commande', { 'label_attr': { 'class': 'label' } }) }}
                        <div class="control">
                            {{ form_widget(form.commande, { 'attr': { 'class': 'input' } }) }}
                        </div>
                    </div>

                    <div class="field">
                        {{ form_label(form.montant_total, 'Montant Total', { 'label_attr': { 'class': 'label' } }) }}
                        <div class="control">
                            {{ form_widget(form.montant_total, { 'attr': { 'class': 'input' } }) }}
                        </div>
                    </div>

                    <div class="field">
                        {{ form_label(form.date_emission, 'Date d\'Emission', { 'label_attr': { 'class': 'label' } }) }}
                        <div class="control">
                            {{ form_widget(form.date_emission, { 'attr': { 'class': 'input' } }) }}
                        </div>
                    </div>

                    <div class="field">
                        {{ form_label(form.status, 'Statut', { 'label_attr': { 'class': 'label' } }) }}
                        <div class="control">
                            {{ form_widget(form.status, { 'attr': { 'class': 'input' } }) }}
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button green">{{ button_label|default('Enregistrer') }}</button>
                        </div>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </section>

{% endblock %}
