{% extends '../../base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>Montant_total</th>
                <td>{{ facture.montantTotal }}</td>
            </tr>
            <tr>
                <th>Date_emission</th>
                <td>{{ facture.dateEmission ? facture.dateEmission|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ facture.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_facture_index') }}">back to list</a>

    <a href="{{ path('app_facture_edit', {'id': facture.id}) }}">edit</a>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
